* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  #name {
    padding: 7px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: palevioletred;
    -webkit-text-stroke: 2px lightblue;
    font-size: 35px;
    background-color: palevioletred;
    border-color: transparent;
    box-shadow: 2px 2px 16px 2px black;
    border-radius: 10px 10px 10px 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(palevioletred, lightblue);
  }
  
  .nav-item {
    color: palevioletred;
    background-color: lightblue;
    padding: 8px 10px;
    border: 2px solid palevioletred;
    border-radius: 8px;
    text-decoration: none;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    margin: 0px 10px;
  }
  
  .nav-item:hover {
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 16px 2px black;
    border: 2px solid white;
    border-radius: 8px;
  }
  
  .fas {
    display: none;
  }
  
  @media screen and (max-width: 750px) {
    .nav-item {
      display: none;
    }
  
    .fas {
      display: block !important;
    }
  }
  
  .dropdown {
    text-align: center;
    margin-top: 20px;
    background-image: linear-gradient(palevioletred, lightblue);
  }
  
  .hide {
    display: none;
  }
  
  .dropdown ul li {
    margin: 20px;
    color: white;
  }
  
  .dropdown ul li:hover {
    text-decoration: underline;
  }
  
  .dropdown ul {
    list-style-type: none;
  }
  
  img {
    width: 200px;
    height: 365px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #pic2 {
    width: 60%;
    height: 350px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #container1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    color: palevioletred;
    margin: 10px;
  }
  
  .aboutme {
    padding: 10px;
  }
  
  h3 {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px lightblue;
    background-color: palevioletred;
    padding: 20px;
    margin: 10px;
    border: 3px solid lightblue;
    border-radius: 6px;
    text-align: center;
  }
  
  #description {
    color: white;
    text-shadow: 1px 1px lightblue;
    background-color: palevioletred;
    padding: 20px;
    margin: 10px;
    border: 3px solid lightblue;
    border-radius: 8px;
  }
  
  #sehabla {
    font-size: 15px;
  }
  
  
  
  #container2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    color: palevioletred;
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
  }
  
  #container3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: -moz-inline-grid;
    color: palevioletred;
    margin: 10px;
    
    list-style-type: none;
    text-decoration: none;
  }
  
  img {
    border: 5px solid palevioletred;
    border-radius: 6px;
    margin-bottom: 30px
  }
  
  
  h4 {
      font-size: 25px;
      color: white;
      text-shadow: 1px 1px lightblue;
      background-color: palevioletred;
      padding: 20px;
      margin: 10px;
      border: 3px solid lightblue;
      border-radius: 6px;
      text-align: center;
      margin-bottom: 100px
    }
  
    
  h5 {
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px lightblue;
      background-color: palevioletred;
      padding: 20px;
      margin: 10px;
      border: 3px solid lightblue;
      border-radius: 6px;
      text-align: center;
    }
  
    a {
        text-decoration: underline;
        color: black;
    }
  
    a:hover {
        text-shadow: 1px 1px yellow;
    }

    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
      img {
        width: 100%;
      }
      h3 {
        border: 3px solid white;
      }
      h4 {
        border: 3px solid white;
      }
      h5 {
        border: 3px solid white;
      }
      #description {
        border: 3px solid white;
      }
    }

    #wow {
      font-size: 20px;
    }
